<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.NoticeBoardMapper">
  <select id="noticeList" resultType="com.movie.model.NoticeBoardVO">
  <!-- id가 메소드 역할, resultType이 리턴타입 -->
    <![CDATA[
    select * from notice_board order by no desc;
    ]]>
  </select>
  
  <select id="noticeListPaging" resultType="com.movie.model.NoticeBoardVO">
  <!-- id가 메소드 역할, resultType이 리턴타입 -->
    
    select
	no, subject, writer, wr_date, cnt
	from(
		select 
		@rownum:=@rownum+1 as rownum, no, subject, writer, wr_date, cnt 
		from (select @rownum:=0) as rownum, notice_board
		<if test="keyword!=null">
		where subject like concat('%',#{keyword},'%')
		</if>
		order by no desc
		) board
	<![CDATA[
	where rownum > (#{pageNum}-1)*#{amount} and rownum <=#{pageNum}*#{amount}
	
    ]]>
  </select>
  
  <select id="noticeDetail" resultType="com.movie.model.NoticeBoardVO">
  	<!-- id가 메소드 역할, resultType이 리턴타입 -->
    <![CDATA[
    select * from notice_board where no=#{no}
    ]]>
  </select>
  
  <select id="noticeCount" resultType="int">
  	<!-- id가 메소드 역할, resultType이 리턴타입 -->
    select count(*) from notice_board
    <if test="keyword!=null">
		where subject like concat('%',#{keyword},'%')
	</if>
    
  </select>
  
  <insert id="noticeWrite">
  	<![CDATA[
  	insert into notice_board(subject, content, writer, wr_date, cnt) 
  	values(#{subject}, #{content},#{writer}, sysdate(),#{cnt})
  	]]>
  </insert>
  
  <update id="noticeModify">
  	update notice_board 
  	set subject=#{subject}, 
  	content=#{content} 
  	where no=#{no}
  </update>
  
  <delete id="noticeDelete">
  	delete from notice_board where no=#{no}
  </delete> 
  
  <update id="viewingCount">
  	update notice_board set cnt = cnt +1  where no=#{no}
  </update> 
  
   <insert id="addAttatch">
  	<![CDATA[
  	insert into tbl_attach(filename, no) 
  	values(#{filename}, LAST_INSERT_ID())
  	]]>
  </insert>
  
  <select id="upToDate" resultType="com.movie.model.NoticeBoardVO">
  	<!-- id가 메소드 역할, resultType이 리턴타입 -->
    <![CDATA[
    select * from notice_board order by no desc limit 1;
    ]]>
  </select>
  
</mapper>